@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");
html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%;
  font-size: 10px;
}

@font-face {
  font-family: TOMMY;
  src: url("../fonts/TOMMY.otf");
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat.ttf");
}

/* Navbar section */

.nav {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  z-index: 100;
  div.main_list {
    height: 65px;
    float: right;
    ul {
      width: 100%;
      height: 65px;
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        font-family: "Montserrat";
        width: auto;
        height: 65px;
        padding: 0;
        padding-right: 3rem;
        a {
          text-decoration: none;
          color: #fff;
          line-height: 65px;
          font-size: 1.8rem;
        }
        a:hover {
          color: #f5af19;
        }
      }
    }
  }
}

/* Home section */

.home {
  width: 100%;
  height: 100vh;
  background-image: url("../images/close-up-of-row-325876\ \(1\).jpg");
  background-position: center top;
  background-size: cover;
  .head {
    font-family: "TOMMY";
    font-size: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(to top right, #f12711, #f5af19);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .offset {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.main,
.prices {
  padding: 50px 80px;
  background-image: url("../images/Layer\ 1.png");
  .main-grid {
    display: grid;
    grid-template-columns: 40% 60%;
    .main-text {
      position: relative;
      top: 120px;
      font-size: 70px;
      font-family: TOMMY;
      color: #4b4b4b;
    }
  }
}

#about {
  padding-top: 65px !important;
  text-align: center;
  padding: 0 50px;
  color: rgb(90, 90, 90);
  #main-about {
    font-size: 20px;
  }
}

.heading {
  font-family: TOMMY;
  font-size: 25px;
  font-style: italic;
}

.prices {
  background-color: #fde8e0;
  img {
    width: 90%;
    margin: 0 auto;
  }
}

.price-table div {
  font-family: Montserrat;
  table {
    border-spacing: 0;
    font-size: 13px;
    width: 100%;
    margin: 0 auto;
    tr:first-child th:first-child {
      border-top-left-radius: 7px;
    }

    tr:first-child th:last-child {
      border-top-right-radius: 7px;
    }
    tr:last-child td:first-child {
      border-bottom-left-radius: 7px;
    }

    tr:last-child td:last-child {
      border-bottom-right-radius: 7px;
    }
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #fde8e0;
  }

  h1 {
    font-size: 18px;
    text-align: center;
  }
}

.hr-line {
  width: 60%;
  opacity: 0.3;
  margin: 50px auto;
}

.offers {
  table {
    font-weight: 500;
    font-size: 15px;
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    td,
    th {
      border: 1px solid #adadad;
      text-align: left;
      padding: 8px;
    }
  }
  margin: 20px 90px;
}

#contact {
  padding-top: 65px !important;
}

.contact {
  color: rgb(65, 65, 65);
  display: grid;
  grid-template-columns: 40% 60%;
  column-gap: 60px;
  padding: 0 60px;
  img {
    position: relative;
    top: 15%;
    width: 100%;
  }
}

.wrap {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 45px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 0 15px;
  text-align: center;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #ffbf00;
  box-shadow: 0px 15px 20px rgba(255, 191, 0, 0.4);
  color: #fff;
  transform: translateY(-5px);
}
/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 0;
  }
  .home {
    .head {
      font-size: 100px;
    }
  }
  .main,
  .prices {
    background-position: right top;
    background-image: url("../images/Layer\ 1.png");
    .main-grid {
      display: grid;
      column-gap: 40px;
      grid-template-columns: 40% 60%;
      .main-text {
        top: -7%;
        font-size: 50px;
        font-family: TOMMY;
        color: #4b4b4b;
      }
    }
  }

  .price-table {
    grid-template-columns: 40% 40% !important;
    justify-content: space-around;
  }

  .contact {
    column-gap: 40px;
  }

  #map {
    margin: 20px auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    height: auto;
  }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .home {
    .head {
      font-size: 50px;
    }
  }
  .main,
  .prices {
    padding: 0 30px;
    background-position: right top;
    background-image: url("../images/Layer\ 1.png");
    .main-grid {
      display: grid;
      grid-template-columns: 100%;
      .main-text {
        // top: -7%;
        font-size: 50px;
        font-family: TOMMY;
        color: #4b4b4b;
      }
    }
  }

  .prices {
    padding-top: 40px;
    img {
      margin: 150px 0;
      width: 100%;
    }
  }
  .affix {
    padding: 0;
    background-color: #111;
  }

  .price-table {
    grid-template-columns: 100% !important;
    justify-content: space-around;
  }

  .myH2 {
    text-align: center;
    font-size: 4rem;
  }
  .myP {
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 20px;
  }

  .contact {
    grid-template-columns: 100%;
  }
  .offers {
    max-width: 100%;
    margin: 20px 30px;
    td {
      .price-head {
        font-size: 16px !important;
      }
      font-size: 14px !important;
    }
  }
  #contact-email {
    font-size: 16px;
  }
  #map {
    margin: 20px auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: auto;
  }
}
@media screen and (max-width: 375px) {
  @media screen and (max-width: 768px) {
    .home {
      .head {
        font-size: 50px;
      }
    }
    .main,
    .prices {
      padding: 0 20px;
      background-position: right top;
      background-image: url("../images/Layer\ 1.png");
      .main-grid {
        display: grid;
        grid-template-columns: 100%;
        .main-text {
          font-size: 50px;
          font-family: TOMMY;
          color: #4b4b4b;
        }
      }
    }

    .prices {
      padding-top: 40px;
      img {
        margin: 150px 0;
        width: 100%;
      }
    }
    .affix {
      padding: 0;
      background-color: #111;
    }

    .price-table {
      grid-template-columns: 100% !important;
      justify-content: space-around;
    }

    .myH2 {
      text-align: center;
      font-size: 4rem;
    }
    .myP {
      text-align: justify;
      padding-left: 15%;
      padding-right: 15%;
      font-size: 20px;
    }

    .contact {
      grid-template-columns: 100%;
    }
    .offers {
      max-width: 100%;
      margin: 20px 30px;
      td {
        .price-head {
          font-size: 16px !important;
        }
        font-size: 12px !important;
      }
    }
    #contact-email {
      font-size: 14px;
    }
    #map {
      margin: 20px auto;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 85%;
      height: auto;
    }
  }
}
