@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");
html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%;
  font-size: 10px;
}

@font-face {
  font-family: TOMMY;
  src: url("../fonts/TOMMY.otf");
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat.ttf");
}

/* Navbar section */
.nav {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  z-index: 100;
}

.nav div.main_list {
  height: 65px;
  float: right;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  font-family: "Montserrat";
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 3rem;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 65px;
  font-size: 1.8rem;
}

.nav div.main_list ul li a:hover {
  color: #f5af19;
}

/* Home section */
.home {
  width: 100%;
  height: 100vh;
  background-image: url("../images/close-up-of-row-325876 (1).jpg");
  background-position: center top;
  background-size: cover;
}

.home .head {
  font-family: "TOMMY";
  font-size: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#f12711), to(#f5af19));
  background-image: linear-gradient(to top right, #f12711, #f5af19);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home .offset {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.main,
.prices {
  padding: 50px 80px;
  background-image: url("../images/Layer 1.png");
}

.main .main-grid,
.prices .main-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

.main .main-grid .main-text,
.prices .main-grid .main-text {
  position: relative;
  top: 120px;
  font-size: 70px;
  font-family: TOMMY;
  color: #4b4b4b;
}

#about {
  padding-top: 65px !important;
  text-align: center;
  padding: 0 50px;
  color: #5a5a5a;
}

#about #main-about {
  font-size: 20px;
}

.heading {
  font-family: TOMMY;
  font-size: 25px;
  font-style: italic;
}

.prices {
  background-color: #fde8e0;
}

.prices img {
  width: 90%;
  margin: 0 auto;
}

.price-table div {
  font-family: Montserrat;
}

.price-table div table {
  border-spacing: 0;
  font-size: 13px;
  width: 100%;
  margin: 0 auto;
}

.price-table div table tr:first-child th:first-child {
  border-top-left-radius: 7px;
}

.price-table div table tr:first-child th:last-child {
  border-top-right-radius: 7px;
}

.price-table div table tr:last-child td:first-child {
  border-bottom-left-radius: 7px;
}

.price-table div table tr:last-child td:last-child {
  border-bottom-right-radius: 7px;
}

.price-table div td,
.price-table div th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.price-table div tr:nth-child(even) {
  background-color: #fde8e0;
}

.price-table div h1 {
  font-size: 18px;
  text-align: center;
}

.hr-line {
  width: 60%;
  opacity: 0.3;
  margin: 50px auto;
}

.offers {
  margin: 20px 90px;
}

.offers table {
  font-weight: 500;
  font-size: 15px;
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}

.offers table td,
.offers table th {
  border: 1px solid #adadad;
  text-align: left;
  padding: 8px;
}

#contact {
  padding-top: 65px !important;
}

.contact {
  color: #414141;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -webkit-column-gap: 60px;
          column-gap: 60px;
  padding: 0 60px;
}

.contact img {
  position: relative;
  top: 15%;
  width: 100%;
}

.wrap {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  width: 45px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 0 15px;
  text-align: center;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #ffbf00;
  -webkit-box-shadow: 0px 15px 20px rgba(255, 191, 0, 0.4);
          box-shadow: 0px 15px 20px rgba(255, 191, 0, 0.4);
  color: #fff;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.affix {
  padding: 0;
  background-color: #111;
}

/* Media qurey section */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 0;
  }
  .home .head {
    font-size: 100px;
  }
  .main,
  .prices {
    background-position: right top;
    background-image: url("../images/Layer 1.png");
  }
  .main .main-grid,
  .prices .main-grid {
    display: -ms-grid;
    display: grid;
    -webkit-column-gap: 40px;
            column-gap: 40px;
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
  }
  .main .main-grid .main-text,
  .prices .main-grid .main-text {
    top: -7%;
    font-size: 50px;
    font-family: TOMMY;
    color: #4b4b4b;
  }
  .price-table {
    -ms-grid-columns: 40% 40% !important;
        grid-template-columns: 40% 40% !important;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contact {
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
  #map {
    margin: 20px auto;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 85%;
    height: auto;
  }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .home .head {
    font-size: 50px;
  }
  .main,
  .prices {
    padding: 0 30px;
    background-position: right top;
    background-image: url("../images/Layer 1.png");
  }
  .main .main-grid,
  .prices .main-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .main .main-grid .main-text,
  .prices .main-grid .main-text {
    font-size: 50px;
    font-family: TOMMY;
    color: #4b4b4b;
  }
  .prices {
    padding-top: 40px;
  }
  .prices img {
    margin: 150px 0;
    width: 100%;
  }
  .affix {
    padding: 0;
    background-color: #111;
  }
  .price-table {
    -ms-grid-columns: 100% !important;
        grid-template-columns: 100% !important;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .myH2 {
    text-align: center;
    font-size: 4rem;
  }
  .myP {
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 20px;
  }
  .contact {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .offers {
    max-width: 100%;
    margin: 20px 30px;
  }
  .offers td {
    font-size: 14px !important;
  }
  .offers td .price-head {
    font-size: 16px !important;
  }
  #contact-email {
    font-size: 16px;
  }
  #map {
    margin: 20px auto;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 80%;
    height: auto;
  }
}

@media screen and (max-width: 375px) and (max-width: 768px) {
  .home .head {
    font-size: 50px;
  }
  .main,
  .prices {
    padding: 0 20px;
    background-position: right top;
    background-image: url("../images/Layer 1.png");
  }
  .main .main-grid,
  .prices .main-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .main .main-grid .main-text,
  .prices .main-grid .main-text {
    font-size: 50px;
    font-family: TOMMY;
    color: #4b4b4b;
  }
  .prices {
    padding-top: 40px;
  }
  .prices img {
    margin: 150px 0;
    width: 100%;
  }
  .affix {
    padding: 0;
    background-color: #111;
  }
  .price-table {
    -ms-grid-columns: 100% !important;
        grid-template-columns: 100% !important;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .myH2 {
    text-align: center;
    font-size: 4rem;
  }
  .myP {
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 20px;
  }
  .contact {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .offers {
    max-width: 100%;
    margin: 20px 30px;
  }
  .offers td {
    font-size: 12px !important;
  }
  .offers td .price-head {
    font-size: 16px !important;
  }
  #contact-email {
    font-size: 14px;
  }
  #map {
    margin: 20px auto;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 85%;
    height: auto;
  }
}
/*# sourceMappingURL=style.css.map */